.navbar {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Raleway', sans-serif;
  background: #58249c;
  padding: 20px;
  color: #fff;
  nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  a.brand {
    margin-right: auto;
    color: #fff;
    text-decoration: none;
  }
  a:last-child {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  a:last-child:hover {
    background: #fff;
    color: #333;
  }

  // Logo
  .logo {
    position: absolute;
    display: flex;
    top: 20px;
    cursor: pointer;
    filter: invert(100%);
    span {
      filter: invert(100%);
      font-size: 2.1rem;
      font-weight: bold;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}
